@import "_mixins.scss";

body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald';
  background-color: #f7f8f3;
}

.header {
  @include flexBetweenCenter;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  border-bottom: 1px solid rgba(229, 232, 235, 0.5);

  &_scroll {
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 0;
    -webkit-box-shadow: -1px 2px 15px 1px rgba(50, 50, 50, 0.5);
            box-shadow: -1px 2px 15px 1px rgba(50, 50, 50, 0.5);
    z-index: 2;

    .header-nav-menu__item a {
      color: #1c1c1b;
    }

    .header-nav-logo svg {
      fill: #1c1c1b;
      color: #1c1c1b;
    }

    .header-nav-user__item a {
      color: #1c1c1b;
    }

    .header-nav-user__item svg {
      fill: #1c1c1b;
    }
  }

  &-nav {
    width: 100%;
    @include flexBetweenCenter;
    &__mobile {
      display: none;
    }
    &-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      list-style-type: none;
      padding-left: 25px;
      margin: 0;

      &__item {
        position: relative;
        color: #ffffff;
        text-transform: uppercase;
        padding: 25px 0 25px 35px;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
          padding: 0 10px;

          &.active {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #9db892;
            }
          }
        }
      }
    }

    &__right {
      position: relative;

      .search-form {
        position: absolute;
        left: 0;
        top: -101%;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &.active {
          top: 0;
        }

        form {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%;

          input {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            padding: 27px 0 27px 10px;
            width: 80%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border: none;
            outline: none;
            background-color: #f7f8f3;
            height: 76px;
            font-family: inherit;
          }

          button {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            padding: 25px;
            width: 20%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border: none;
            outline: none;
            border-left: 1px solid #ced6af;
            background-color: #f7f8f3;
            height: 76px;
            cursor: pointer;
          }
        }
      }

    }

    &-user {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      list-style-type: none;
      padding: 0;
      margin: 0;

      &__item {
        position: relative;
        color: #ffffff;
        text-transform: uppercase;
        padding: 25px 35px 25px 35px;

        &:before {
          content: '';
          border-left: 1px solid #e5e8eb;
          position: absolute;
          width: 1px;
          height: 100%;
          top: 0;
          left: 0;
        }

        svg {
          fill: #ffffff;
        }

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
    }

    &-logo svg {
      font-size: 30px;
      fill: #ffffff;
    }
  }
}

.intro {
  background-image: url(../img/jpeg/Intro-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  &-description {
    @include absoluteVerticalCenter;
    padding-top: 35px;
    max-width: 670px;
    right: 360px;
    text-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

    h2 {
      font-size: 55px;
      font-weight: 400;
      text-transform: uppercase;
      color: #f7f8f3;
      line-height: 75px;
      letter-spacing: 15px;
      margin: 0;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.5);
    }

    p {
      font-size: 24px;
      font-weight: 300;
      color: #f7f8f3;
      line-height: 75px;
      letter-spacing: 6.7px;
      margin: 0 0 30px;
    }

    button {
      @include flexCenterCenter;
      font-family: inherit;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #f7f8f3;
      background-color: transparent;
      border: 1px solid #9db892;
      width: 270px;
      height: 70px;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &:hover, &:focus {
        background-color: #9db892;
        color: #1c1c1b;
        outline: none;
      }

      &:after {
        content: '';
        width: 45px;
        height: 2px;
        background-color: #f7f8f3;
        margin-left: 18px;
      }
    }

    a {
      font-size: 18px;
      font-weight: 300;
      color: #f7f8f3;
      line-height: 75px;
      letter-spacing: 5px;
      text-decoration: none;

      svg {
        fill: #f7f8f3;
      }
    }
  }

  &-label {
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    line-height: 55px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 212px;
    left: -45px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);

    &:before {
      position: absolute;
      top: 28px;
      left: -35%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      content: '';
      height: 2px;
      width: 100px;
      background-color: #ffffff;;
    }
  }

  &-arrow {
    position: absolute;
    bottom: 55px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 40px;
    height: 40px;
    @include flexCenterCenter;

    object {
      cursor: pointer;
      display: block;
    }

  }
}

.about {
  padding-top: 100px;

  &-quality {
    background-image: url(../img/png/Holder.png);
    background-repeat: no-repeat;
    margin: 0 auto 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 690px;
    height: 200px;
    padding-top: 40px;

    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #1c1c1b;
      margin-top: 0;
    }

    &__logos {
      @include flexCenterCenter;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box
    }

    &__logo {
      background-image: url(../img/png/sprite.png);
      background-repeat: no-repeat;
      margin-right: 35px;

      &.logo1 {
        height: 60px;
        width: 120px;
        background-position: 0px 0px;
      }

      &.logo2 {
        height: 60px;
        width: 60px;
        background-position: -121px 0px;
      }

      &.logo3 {
        height: 60px;
        width: 140px;
        background-position: -182px 0px;
      }

      &.logo4 {
        height: 60px;
        width: 60px;
        background-position: -322px 0px;
      }
    }
  }

  &-items {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 300px;

    &__tabs {
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        list-style-type: none;
        padding: 0;
        max-width: 930px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 2px solid #ced6af;
      }

      .tab-link {
        padding-right: 105px;
        cursor: pointer;

        span {
          text-decoration: none;
          font-weight: 400;
          font-size: 30px;
          letter-spacing: 2.3px;
          color: #1c1c1b;
          text-transform: uppercase;
          position: relative;
        }

        &.active {
          span:after {
            content: '';
            position: absolute;
            background-color: #1c1c1b;
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
          }
        }
      }
    }

    .tab-content {
      display: none;

      &__text {
        display: block;
        padding-right: 170px;

        h3 {
          font-size: 24px;
          font-weight: 400;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #1c1c1b;
          margin: 100px 135px 30px 0;
        }

        p {
          font-size: 18px;
          font-weight: 300px;
          line-height: 40px;
          letter-spacing: 0.72px;
          color: #6e774a;
          padding: 15px 0;
          margin: 0;

        }
      }

      &.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

      &__images {
        padding-top: 70px;

        img {
          padding-bottom: 30px;
          max-height: 300px;

        }

      }
    }
  }
}

.products {
  width: 100%;
  max-height: 800px;

  &-title {
    font-size: 30px;
    font-weight: 400;
    color: #1c1c1b;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin: 120px 0 80px;
  }

  &-slider {

    &__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 15px;
      border: 1px solid #ced6af;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: none;

      &--wrapper {
        width: 100%;
        height: 500px;
        background-color: #ffffff;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        @include flexBetweenCenter;
      }

      &--description {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: #1c1c1b;
      }

      &--rating {
        text-align: center;
        margin-top: 40px;

        svg {
          fill: transparent;
          stroke: #6e774a;

        }

        .active {
          svg {
            fill: #6e774a;
          }
        }
      }

      &--image {
        height: 220px;

        img {
          height: 100%;
          width: auto;
        }
      }

      &--buy {
        @include flexBetweenCenter;
        width: 100%;
        padding-left: 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-top: 1px solid #ced6af;
        background-color: #f1f1f1;

        p {
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 2.7px;
          color: #1c1c1b;
        }

        button {
          @include flexCenterCenter;
          border: none;
          background-color: #6e774a;
          width: 185px;
          height: 75px;
          font-family: inherit;
          font-size: 20px;
          color: #ffffff;
          text-transform: uppercase;
          cursor: pointer;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          outline: none;

          &:hover {
            background-color: #9db892;
            color: #1c1c1b;
            font-family: inherit;
            font-size: 20px;
            font-weight: 400;
          }

          &:after {
            content: '';
            width: 45px;
            height: 2px;
            background-color: #f7f8f3;
            margin-left: 18px;
          }
        }
      }
    }
  }

  &-arrows {
    @include flexCenterDefault;
    margin: 30px 0;

    button {
      border: none;
      background-color: transparent;
      margin: 30px;
      padding: 0;
      outline: none;
      cursor: pointer;

      svg {
        fill: #6e774a;
      }
    }

  }
}

.faqs {
  &-title {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #1c1c1b;
    text-align: center;
    margin: 50px 0 45px;
  }

  &-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }

  &-item {
    padding: 30px 0;
    border-top: 2px solid #eaedde;

    &:last-child {
      border-bottom: 2px solid #eaedde;
    }

    &.expanded &__expand::before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 11px;
      top: 6px;
    }

    &__expand {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 5px;
      color: #6e774a;
      position: relative;
      padding-left: 50px;
      cursor: pointer;

      &:before {
        content: '\208A';
        font-size: 55px;
        color: #6e774a;
        line-height: 0;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.7px;
      color: #000000;
      display: none;
      padding-left: 50px;
    }
  }
}

.testimonials {
  background-image: url(../img/jpeg/Reviews-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &-slider {
    margin-top: 150px;

    &__item {
      height: 800px;
      @include flexCenterCenter;

      &:focus {
        outline: none;
      }

      &--rating {
        .rating-star {
          svg {
            fill: #aab384;
          }
        }
      }

      .review {
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 4.4px;
        color: #ffffff;
      }

      .author {
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        color: #ffffff;
      }

      &--content {
        max-width: 780px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
    }
  }

  &-label {
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    line-height: 55px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 100px;
    left: -45px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  &-arrows {
    @include flexCenterDefault;

    button {
      background-color: transparent;
      border: 1px solid rgba(245, 246, 242, 0.5);
      width: 130px;
      height: 100px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      svg {
        fill: #f5f6f2;
        opacity: 0.5;
      }
    }

  }

}


.footer {

  &-container {
    @include flexCenterDefault;
    margin: 0 auto;
    padding: 170px 0 65px;
  }

  &-left {
    @include footerColumns;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #6e774a;
      margin-bottom: 20px;
    }
  }

  &-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 30px;

    &__socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

      &:after {
        content: '';
        display: block;
        background-color: #6e774a;
        height: 60px;
        width: 2px;
        margin: 40px auto 30px;
      }
    }

    &__subscribe {
      h3 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2.7px;
        color: #1c1c1b;
        text-align: center;
        margin-bottom: 30px;
      }

      form {
        display: block;
        width: 370px;
        margin: 0 auto;
        position: relative;
      }

      input {
        width: 100%;
        height: 60px;
        border: 2px solid #ced6af;
        padding: 0 115px 0 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        outline: none;
        background-color: transparent;

        &::-webkit-input-placeholder {
          font-size: 16px;
          letter-spacing: 4.5px;
          color: #6e774a;
        }

        &::-moz-placeholder {
          font-size: 16px;
          letter-spacing: 4.5px;
          color: #6e774a;
        }

        &:-ms-input-placeholder {
          font-size: 16px;
          letter-spacing: 4.5px;
          color: #6e774a;
        }

        &::-ms-input-placeholder {
          font-size: 16px;
          letter-spacing: 4.5px;
          color: #6e774a;
        }

        &::placeholder {
          font-size: 16px;
          letter-spacing: 4.5px;
          color: #6e774a;
        }

        &:active, &:focus {
          -webkit-box-shadow: none;
                  box-shadow: none;
          outline: none;
          outline-color: transparent;
        }
      }

      .send {
        height: 56px;
        border: 0;
        outline: none;
        background-color: transparent;
        width: 85px;
        position: absolute;
        right: 2px;
        top: 2px;
        cursor: pointer;

        &:before {
          @include absoluteVerticalCenter;
          content: '';
          width: 2px;
          height: 52px;
          left: 0;
          background-color: #ced6af;
        }

        svg {
          fill: #6e774a;
        }
      }
    }

  }

  &-nav-social {
    @include flexCenterDefault;
    width: 100%;
    padding: 0;
    margin: 65px 0 0;

    &__item {
      list-style-type: none;
      margin-right: 60px;
      width: 27px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-copyright {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #6e774a;
    text-align: center;
    margin-top: 60px;
  }

  &-right {
    @include footerColumns;

    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: #6e774a;
      margin-bottom: 20px;
    }
  }
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  @include flexCenterCenter;
  cursor: pointer;

  svg {
    width: 100%;
    fill: #1c1c1b;
  }
}

@import '_responsive.scss';