@import "../components/bg-img.scss";
@import "../components/footer-info.scss";
@import '../scss/media.scss';

footer {
    background-color: black;
    color: #D5D5D5;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 100px;
    padding-left: 25px;

    @include for-xs-phone-only {
        flex-direction: column-reverse;
        padding-bottom: 70px;
        align-items: center;
        padding-left: 0;
    }

    @include for-sm-phone-only {
        flex-direction: column-reverse; 
        align-items: center;
        padding-left: 0;
    }

    @include for-tablet-portrait-up {
        flex-direction: row;
        padding-bottom: 50px;
        justify-content: center;
    }

    .left-footer-container {
        padding-top: 50px; 
        display: flex;
        flex-direction: column;
        padding-left: 225px;

        @include for-xs-phone-only {
            align-items: flex-start;
            align-self: center;
            padding-left: 0;
            width: 295px;
        }

        @include for-sm-phone-only {
            padding-left: 0;
        }

        @include for-small-phone-only {
            padding-left: 80px;
        }

        @include for-tablet-portrait-up {
            padding-top: 20px;
            padding-left: 0;
        }

        .touch {
            letter-spacing: 0.3em;
            font-size: 13.9px;
            text-transform: uppercase;
            padding-bottom: 40px;

            @include for-xs-phone-only {
                padding-bottom: 10px;
            }

            @include for-sm-phone-only {
                padding-bottom: 10px;
            }

            @include for-tablet-portrait-up {
                margin-bottom: 15px;
            }
            
        }
        .left-footer-less-container{
            display: flex;
            flex-direction: row;
            width: 380px;
            justify-content: space-between;

            @include for-xs-phone-only {
                flex-direction: column;
                width: 180px;
            }

             @include for-sm-phone-only {
                flex-direction: column;
                width: 200px;
            }

            @include for-tablet-portrait-up {
                flex-direction: row;
                padding-bottom: 10px;
                width: 380px;
            }
            
            .footer-info-left {
               @extend %footer-info; 
               padding: 5px 0; 
            } 
        
            .footer-info-right {
                @extend %footer-info;   
                padding: 5px 0;
            }
        }

        .footer-icons {
            width: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include for-tablet-portrait-up {
                flex-direction: row;
            }
        }

        .ps {
            padding-top: 70px;
            font-size: 13.9px;
            letter-spacing: 0.06em;

            @include for-xs-phone-only {
                width: 295px;
                padding-top: 20px;
              }

            @include for-sm-phone-only {
                width: 200px;
                padding-top: 30px;
              }
              
              @include for-small-phone-only {
                width: 100%;
              }

              @include for-tablet-portrait-up {
                padding-top: 30px;
            }
        }  
    }     

    .right-footer-container {
        display: flex;
        flex-direction: column;
        padding-right: 200px;

        @include for-xs-phone-only {
          padding-right: 0;
          
        }

        @include for-sm-phone-only {
            padding-right: 0;
        }

        @include for-tablet-portrait-up {
            margin-left: 70px;
        }

        .contact {
            padding-top: 49px;
            letter-spacing: 0.2em;
            font-size: 13.9px;
            text-transform: uppercase;
            padding-bottom: 20px;
        }

        @include for-tablet-portrait-up {
            padding-top: 20px;
            padding-bottom: 0px;
        }
    
        .right-footer-info {
            display: flex;
            flex-direction: row;  
            font-weight: lighter;

            @include for-xs-phone-only {
                flex-direction: column;
            }

            @include for-sm-phone-only {
                flex-direction: column;
            }

            @include for-tablet-portrait-up {
                flex-direction: row;
            }

            .footer-name-and-email-container {
                display: flex;
                flex-direction: column;
                
                .footer-input-container {
                    display: flex;
                    flex-direction: column;
                
                    .footer-label {
                        padding-bottom: 5px;
                        color: rgba(255, 255, 255, 1);
                        font-size: 14px;
                        letter-spacing: 0.05em;
                        padding-top: 5px;   
                    }

                    .footer-input {
                        border: 1px solid white;
                        background-color: rgba(43, 43, 43, 1);
                        color: #cccccc;
                        height: 35px;
                        width: 170px;
                        padding-left: 12px;
                        background-color: black;

                        @include for-xs-phone-only {
                            width: 280px;
                        }

                        @include for-sm-phone-only {
                            width: 280px;
                        }

                        @include for-tablet-portrait-up {
                            width: 170px;
                        }
                    }

                    ::placeholder {
                        color: white;
                    }

                    .footer-input:hover {
                        transition: 0.1s;
                        background-color: rgba(85, 85, 85, 0.46);
                    }
                }
            }

            .footer-area-container {
                display: flex;
                flex-direction: column;
                text-align: center;

                @include for-xs-phone-only {
                    text-align: left;
                    padding-top: 5px;
                }

                @include for-sm-phone-only {
                    text-align: left;
                    padding-top: 5px;
                }

                @include for-tablet-portrait-up {
                    text-align: center; 
                }

                .footer-label{
                    letter-spacing: 0.05em;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 1);
                    padding-right: 30px;   
                }

                @include for-tablet-portrait-up {
                    padding-right: 0;
                }
                
                .footer-area-input {
                    padding-left: 12px;
                    padding-right: 10px;
                    border-width: 1px;
                    background-color: rgb(0, 0, 0);
                    border-style: solid;
                    border-color: white;
                    text-align: left;
                    width: 170px;
                    height: 94px;
                    margin-top: 9px;
                    margin-left: 12px;
                    padding-top: 10px;
                    color: white;  

                    @include for-xs-phone-only {
                        width: 273px;
                        margin-left: 0;
                    }

                    @include for-sm-phone-only {
                       margin-left: 0;
                       width: 273px;
                    }

                    @include for-tablet-portrait-up {
                        width: 170px;
                        padding-top: 10px;
                        height: 93px;
                        margin-top: 4px;
                        margin-left: 10px;
                    }
                }

                ::placeholder {
                    color: white;
                }

                .footer-area-input:hover {
                    transition: 0.1s;
                    background-color: rgba(85, 85, 85, 0.46);
                }
                
                .button {
                    margin-left: 110px;
                    border: none;
                    width: 96px;
                    height: 36px;
                    background-color: rgba(198, 164, 126, 1);
                    text-align: initial;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #2B2B2B;
                    font-size: 13.9px;  
                    margin-top: 8px;
                    cursor: pointer;

                    @include for-xs-phone-only {
                        margin-left: 0px;
                    }

                    @include for-small-phone-only {
                        display: flex;
                        align-self: flex-end;
                        margin-left: 0;
                    }
                }

                .button:hover {
                    transition: 0.3s;
                    background-color: rgba(99, 82, 63, 1);
                }
            }  
        }
    }    
}