.header {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  display: flex;
  justify-content: center;
  background-image: url(../images/town-3.jpg);
  height: 47em; }
  @media (max-width: 425px) {
    .header {
      justify-content: space-between; } }
  @media (min-width: 426px) {
    .header {
      justify-content: space-between; } }
  @media (min-width: 768px) {
    .header {
      justify-content: center; } }
  .header .header-left-container {
    display: flex;
    flex-direction: row;
    height: 110px;
    align-items: center; }
    @media (max-width: 425px) {
      .header .header-left-container {
        margin-left: 30px; } }
    @media (min-width: 426px) {
      .header .header-left-container {
        margin-left: 30px; } }
    @media (min-width: 768px) {
      .header .header-left-container {
        margin: 0; } }
    .header .header-left-container .header-logo {
      margin-right: 25px;
      font-size: 20px;
      color: #af6b1d;
      border: 3px solid #b1742e;
      width: 47px;
      height: 40px;
      font-weight: 600;
      font-family: avenir-lt-w01_35-light1475496, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    .header .header-left-container .arch {
      font-size: 21px;
      color: #af712b;
      font-family: avenir-lt-w01_35-light1475496, sans-serif;
      text-transform: uppercase;
      font-weight: 545;
      letter-spacing: 0.05em;
      cursor: pointer; }
  .header .header-right-container {
    display: flex;
    height: 110px;
    align-items: center;
    font-size: 14px; }
    @media (max-width: 425px) {
      .header .header-right-container {
        margin-right: 30px; } }
    @media (min-width: 426px) {
      .header .header-right-container {
        margin-right: 30px; } }
    @media (min-width: 768px) {
      .header .header-right-container {
        justify-content: space-between;
        margin: 0; } }
    .header .header-right-container .header-menu-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 593px; }
      @media (max-width: 425px) {
        .header .header-right-container .header-menu-container {
          display: none; } }
      @media (min-width: 426px) {
        .header .header-right-container .header-menu-container {
          display: none; } }
      @media (min-width: 768px) {
        .header .header-right-container .header-menu-container {
          display: flex;
          width: 400px; } }
      @media (min-width: 991px) {
        .header .header-right-container .header-menu-container {
          width: 593px; } }
      .header .header-right-container .header-menu-container .nav-element-home {
        line-height: 20px;
        list-style: none;
        text-transform: uppercase;
        font-family: avenir-lt-w01_35-light1475496, sans-serif;
        cursor: pointer; }
        .header .header-right-container .header-menu-container .nav-element-home .nav-element-link {
          color: #b97930;
          text-decoration: none; }
      .header .header-right-container .header-menu-container .nav-element {
        line-height: 20px;
        list-style: none;
        text-transform: uppercase;
        font-family: avenir-lt-w01_35-light1475496, sans-serif;
        cursor: pointer; }
        .header .header-right-container .header-menu-container .nav-element .nav-element-link {
          color: #c7b8b8;
          text-decoration: none; }
        .header .header-right-container .header-menu-container .nav-element .nav-element-link:hover {
          transition: 0.2s;
          color: #c27e30; }
    .header .header-right-container .container-burger {
      display: inline-block;
      cursor: pointer;
      color: #c27e30; }
      @media (min-width: 768px) {
        .header .header-right-container .container-burger {
          display: none; } }
      .header .header-right-container .container-burger .burger-icon {
        font-size: 30px; }
  .header.open {
    position: relative;
    z-index: 10; }
    @media (min-width: 768px) {
      .header.open {
        z-index: 0;
        display: none; } }
    .header.open .header-right-container {
      display: flex;
      align-items: center;
      font-size: 18px;
      position: fixed;
      height: 100vh;
      background-color: #c6a47e;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: flex-end;
      line-height: 1.4em;
      letter-spacing: 2px; }
      @media (max-width: 425px) {
        .header.open .header-right-container {
          margin-right: 0; } }
      @media (min-width: 426px) {
        .header.open .header-right-container {
          margin-right: 0; } }
      @media (min-width: 768px) {
        .header.open .header-right-container {
          justify-content: space-between;
          margin: 0; } }
      .header.open .header-right-container .header-menu-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 593px; }
        @media (max-width: 425px) {
          .header.open .header-right-container .header-menu-container {
            flex-direction: column;
            width: 100%;
            align-items: center;
            align-self: flex-start;
            margin-top: 160px; } }
        @media (min-width: 426px) {
          .header.open .header-right-container .header-menu-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding-left: 20px; } }
        @media (min-width: 768px) {
          .header.open .header-right-container .header-menu-container {
            display: flex;
            width: 400px; } }
        @media (min-width: 991px) {
          .header.open .header-right-container .header-menu-container {
            width: 593px; } }
        .header.open .header-right-container .header-menu-container .nav-element-home {
          line-height: 20px;
          list-style: none;
          text-transform: uppercase;
          font-family: avenir-lt-w01_35-light1475496, sans-serif;
          cursor: pointer;
          padding: 15px 0;
          width: 146px;
          align-items: center;
          display: flex; }
          .header.open .header-right-container .header-menu-container .nav-element-home .nav-element-link {
            color: white;
            text-decoration: none;
            margin: 0 auto; }
        .header.open .header-right-container .header-menu-container .nav-element {
          line-height: 20px;
          list-style: none;
          text-transform: uppercase;
          font-family: avenir-lt-w01_35-light1475496, sans-serif;
          cursor: pointer;
          padding: 15px 0;
          border-top: 1px solid white;
          width: 146px;
          display: flex;
          text-align: center; }
          .header.open .header-right-container .header-menu-container .nav-element .nav-element-link {
            color: #2b2b2b;
            text-decoration: none;
            font-family: avenir-lt-w01_35-light1475496, sans-serif;
            font-weight: 100;
            margin: 0 auto; }
          .header.open .header-right-container .header-menu-container .nav-element .nav-element-link:hover {
            transition: 0.2s;
            color: #c27e30; }
      .header.open .header-right-container .container-burger {
        cursor: pointer;
        display: inline-block;
        color: white;
        position: relative;
        bottom: 320px;
        right: 25px;
        font-weight: lighter;
        -webkit-text-stroke: 0.01px white; }
        @media (min-width: 768px) {
          .header.open .header-right-container .container-burger {
            display: none; } }
        .header.open .header-right-container .container-burger .burger-icon {
          font-size: 30px;
          font-weight: lighter;
          font-weight: 200;
          -webkit-text-stroke: 0.01pxs white; }
