.footer {
    background-image: url(../img/Bg-footer.png);
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Gotham", sans-serif;

    .footer-wrap {
        width: 700px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 100%;

        .footer-logo-container {
            margin-top: 80px;

            .footer-text-container {
                display: flex;
         
                .footer-text {
                 font-family: sans-serif;
                 font-size: 14px;
                 font-weight: 400;
                 color: #ffffff;
                }
         
                .footer-avtor {
                 color: #ffffff;
                 font-family: sans-serif;
                 font-size: 14px;
                 font-weight: 400;
                 border-left: 1px solid white;
                 padding-left: 15px;
                 margin-left: 15px;
                }
            }
        }

        .icons-logo-container {
            margin-top: 40px;
        }
    }

    .form-container {
        position: absolute;
        bottom: 300px;
        background-color: white;
        width: 700px;
        height: 400px;

        .form-title-container {
            

            .form-title {
                color: #2c4058;
                font-size: 44px;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                padding-top: 50px;
                margin-bottom: 20px;
            }

            .form-title::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100px;
                height: 1px;
                background-color: rgb(0, 0, 0);
                right: 0;
                top: 60px;
                margin: 0 auto;
                display: block;
            }
        }

        .form-info-container {
            display: flex;
            justify-content: space-between;
            width: 530px;
            margin: 0 auto;

            .form-info-container-wrap {

                .form-info {
                    color: #2c4058;
                    font-family: "Gotham - Book";
                    font-size: 18px;
                    font-weight: 400;
                }

                .form-info-element-first::before {
                    content: 'Δ';
                    margin-right: 10px;
                }

                .form-info-element-second::before {
                    content: '✆'; 
                    margin-right: 10px;
                }

                .form-info-element-third::before {
                    content: '☎';
                    margin-right: 10px;
                }

                .form-info-element-fourth::before {
                    content: '⊗';
                    margin-right: 10px;
                    width: 50px;
                    height: 10px;
                }
            }
    
            .form-container-wrap {
                
                .form {
                    display: flex;
                    flex-direction: column;

                    .input-form {
                        border: none;
                        border-bottom: 1px solid #2c4058;
                        padding-top: 15px;
                        font-size: 18px;
                    }

                    .input-form-first {
                        margin-bottom: 15px;
                    }
                }

                .form-button {
                    float: right;
                    color: #2c4058;
                    font-family: "Gotham - Book";
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 12px 40px;
                    background-color: #ffffff;
                    border: 1px solid #2c4058;
                    transition: 0.5s;   
                    margin-top: 25px;
                    cursor: pointer;
                }

                .form-button:hover {
                    background-color: #2c4058;
                    color: #ffffff;
                    transition: 0.5s;
                }
            }
        } 
    }
}